/* COLORS */
$black: #222;
$white: #fff;
$red: #ef8f9d;
$blue: #95e4f9;

/* DIMENSIONS */
$spacer: 1rem;
$logo-factor: .4;

/* FONTS */
$title-font: filson-pro, sans-serif;
$text-font: sofia-pro, sans-serif;
$font-size-base: 1rem;
