@import "vars";
@import "components/logo";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;
}

p {
  font-family: $text-font;
  font-size: $font-size-base;
  margin-bottom: 0;
  margin-top: $spacer;
  text-align: left;
}

a {
  color: $white;
  font-family: $text-font;
  text-decoration: none;
  transition: color .5*$duration $easing;

  &:hover {
    color: $blue;
  }
}

h1,
h3 {
  font-size: 3*$font-size-base;
}

h2,
h4 {
  font-size: 1.5*$font-size-base;
}

header,
section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.title {
  font-family: $title-font;
  letter-spacing: -.64px;
}

.subtitle {
  font-family: $text-font;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  a {
    margin: $spacer;
    padding: $spacer;
    text-transform: uppercase;
  }
}

.row {
  flex-direction: row;

  .column {
    display: flex;
    flex-direction: column;
    width: 50%;

    .section-artwork {
      width: 100%;
    }

    .subtitle {
      margin-bottom: $spacer;
    }

    &:last-child {
      padding-left: 0;
      padding-right: 4*$spacer;
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .column:last-child {
      padding-left: 4*$spacer;
      padding-right: 0;
    }
  }
}

.header-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-.5 * $logo-width, -50%);
  transition: transform $duration $easing;

  .logo-container {
    margin-right: 4*$spacer;
    position: relative;
    transform-origin: right;
    transition: transform $duration $easing;
    width: $logo-width;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    transition: opacity $duration $easing;

    .title,
    .subtitle {
      margin: 0;
      transform: translateX(-100%);
      transition: transform $duration $easing;
      white-space: nowrap;
    }
  }

  &.-revealed {
    transform: translate(calc(-50% - (#{.5*$logo-factor*$logo-width})), -50%);

    .title-container {
      opacity: 1;

      .title,
      .subtitle {
        transform: translateX(0);
      }
    }

    .logo-container {
      transform: scale($logo-factor);
    }
  }
}

.link {
  align-items: center;
  color: $blue;
  display: flex;
  flex-direction: row;
  margin-top: $spacer;
  padding: 0;

  .chevron {
    height: 1.5*$spacer;
    margin-right: .5*$spacer;
    width: 1.5*$spacer;
  }

  &:hover {
    color: $white;
  }
}

.imprint {
  font-family: $text-font;
  font-size: .8*$font-size-base;
  margin: $spacer;
  padding: $spacer;
  text-align: center;
}
